<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web2Work - Nueva contraseña</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body class="pagina-auth">
    <div class="login-contenedor">
        <div class="login-logo">
            <img src="/imagenes/Imagen1.jpeg"alt="Web2Work">
        </div>

        <p class="auth-titulo">NUEVA CONTRASEÑA</p>
        <p class="auth-descripcion">Introduce tu nueva contraseña.</p>

        <div th:if="${mensajeError}" class="alerta alerta-error">
            <span th:text="${mensajeError}"></span>
        </div>

        <form th:action="@{/recuperar/nueva-password}" method="post"
              th:if="${token != null}">
            <input type="hidden" name="token" th:value="${token}">
            <div class="form-grupo">
                <label>NUEVA CONTRASEÑA *</label>
                <input type="password" name="password"
                       placeholder="Mínimo 8 caracteres" required>
            </div>
            <div class="form-grupo">
                <label>CONFIRMAR CONTRASEÑA *</label>
                <input type="password" name="confirmarPassword"
                       placeholder="Repite la contraseña" required>
            </div>
            <button type="submit" class="btn-primario btn-completo">
                GUARDAR CONTRASEÑA
            </button>
        </form>

        <div class="auth-volver">
            <a th:href="@{/login}">← Volver al inicio de sesión</a>
        </div>
    </div>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>